{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- <div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div> -->
{% endblock %}

{% block content %}
<div class="overlay h-100 w-100 bg-light">
</div>
<div class="container mb-3 header-container">
  <div class="row">
    <div class="col">
      <h2 class="logo-font mb-4">Shopping Cart</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        {% if cart_items %}
        <div class="table-responsive">
          {{ cart_items }}
        </div>
        {% else %}
        <p class="lead mb-3">You have no items in your cart.</p>
        <a href="{% url 'home' %}" class="btn btn-lg btn-secondary mt-2 logo-font">
          <span class>
            <i class="fa-solid fa-caret-left"></i>
          </span>
          <span>
            Go back
          </span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}