{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- <div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div> -->
{% endblock %}

{% block content %}
<div class="container header-container h-100">
  <div class="row h-100">
    <div class="col-6 col-md-5 my-auto">
      <h1 class="display-1 logo-font text-light">Saddles that <span style="text-decoration: underline;">Win</span></h1>
      <a href="{% url 'products' %}" class="my-4 logo-font btn btn-lg btn-secondary">Shop Now</a>
    </div>
  </div>
</div>
{% endblock %}