{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="overlay h-100 w-100 bg-light">
</div>
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-center">Your Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 ">
            <p>Your Delivery Details:</p>
            <form action="{% url 'view_profile' %}" method="POST" id="update-delivery-details-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark logo-font" type="submit">Update</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p>your order history:</p>
            <div class="row">
                <div class="col-12">
                    <div class="order-history-table overflow-auto">
                        <table class="table table-bg-none border table-hover order-history-table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Grand Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for purchase in purchases %}
                                <tr>
                                    <th scope="row" title="{{ purchase.order_number }}"><a href="{% url 'purchase_history' purchase.order_number %}">{{ purchase.order_number|truncatechars:5 }}</a></th>
                                    <th scope="row">{{ purchase.date }}</th>
                                    <th scope="row">€{{ purchase.grand_total }}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}