{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="overlay h-100 w-100 bg-light">
</div>
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-center">Your Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Your Delivery Details:</p>
            <form action="{% url 'view_profile' %}" method="POST" id="update-delivery-details-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark logo-font" type="submit">Update</button>
            </form>
            <form method="post" action="{% url 'delete_user_profile' %}">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm logo-font" type="submit">Delete Details</button>
            </form>
        </div>
        <div class="col-12 col-lg-6 d-flex profile-cards">
            {% include 'profiles/order_history_modal.html' %}
            {% include 'ratings/ratings_history_modal.html' %}
        </div>
    </div>
</div>


{% endblock %}