{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay h-100 w-100 bg-light">
</div>
<div class="container header-container">
  <div class="row">
    <div class="col">
      <h2 class="logo-font mb-4 text-center">Purchase Completed!</h2>
      <hr>
      <p class="lead">Review your order below:</p>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="purchase-completed-table">
          <table class="table table-bg-none border table-hover">
            <thead class="bg-secondary logo-font">
              <th scope="col" colspan="3" class="text-center">Purchase Details</th>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Purchase #:</th>
                <th scope="row" colspan="2">{{ purchase.order_number }}</th>
              </tr>
              <tr>
                <th scope="row">Order Date:</th>
                <th scope="row" colspan="2">{{ purchase.date }}</th>
              </tr>
              <tr>
                <th scope="row" colspan="3" class="text-center text-decoration-underline logo-font">Items</th>
              </tr>
              {% for item in purchase.lineitems.all %}
              <tr>
                <th scope="row">{{ item.product.name }}</th>
                <th scope="row">{% if item.product.size %}{{ item.product.size }}{% else %}Size N/A{% endif %}</th>
                <th scope="row">{{ item.quantity }} X €{{ item.product.price|intcomma }}</th>
              </tr>
              {% endfor %}
              <tr>
                <th scope="row">Purchase total:</th>
                <th scope="row" colspan="2" class="text-center">€{{ purchase.order_total|intcomma }}</th>
              </tr>
              <tr>
                <th scope="row">Delivery Cost:</th>
                <th scope="row" colspan="2" class="text-center">€{{ purchase.delivery_cost|intcomma }}</th>
              </tr>
              <tr>
                <th scope="row">Grand Total:</th>
                <th scope="row" colspan="2" class="text-center">€{{ purchase.grand_total|intcomma }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="purchase-completed-table">
          <table class="table table-bg-none border table-hover">
            <thead class="bg-secondary logo-font">
              <th scope="col" colspan="3" class="text-center">Billing & Delivery</th>
            </thead>
            <tbody>
              <th scope="row" class="text-center">{{ purchase.full_name }}</th>
              <tr>
                <th scope="row" class="text-center">{{ purchase.email }}</th>
              </tr>
              <tr>
                <th scope="row" class="text-center">{{ purchase.phone_number }}</th>
              </tr>
              <tr>
                <th scope="row" class="text-center">{{ purchase.country }}</th>
              </tr>
              <tr>
              {% if purchase.county %}
                <th scope="row" class="text-center">{{ purchase.county }}</th>
              </tr>
              {% endif %}
              <tr>
                <th scope="row" class="text-center">{{ purchase.town_or_city }}</th>
              </tr>
              <tr>
                {% if purchase.postcode %}
                <th scope="row" class="text-center">{{ purchase.postcode }}</th>
                {% endif %}
              </tr>
              <tr>
                <th scope="row" class="text-center">{{ purchase.street_address1 }}</th>
              </tr>
              {% if purchase.street_address2 %}
              <tr>
                <th scope="row" class="text-center">{{ purchase.street_address2 }}</th>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}