<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas">
    <div class="offcanvas-header">
        <h5 class="cart-offcanvas-title" id="cart-offcanvas">Cart : ({{product_count}}) Items</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="row w-100 mt-2">
        <div class="col-12 d-flex justify-content-end">
            <p class="lead fw-bold mx-auto">total : €{{ grand_total }}</p>
            <a href="{% url 'view_cart' %}" class="btn btn-dark rounded-0 align-items-center">
                <span><small><i class="fa-solid fa-basket-shopping"></i></small></span>
                Checkout
            </a>
        </div>
    </div>
    <div class="offcanvas-body">
        {% if grand_total %}
        {%for item in cart_items %}
        <hr class="w-100">
        <div class="row">
            <div class="col-4 my-2">
                <img class="col w-100 rounded-1" src="{{ item.product.image.url }}" alt="product_image">
            </div>
            <div class="col-8">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0">size:{% if item.product.size %} {{ item.product.size }} {% else %} N/A {% endif %}
                </p>
                <p class="my-0"><small>{{ item.quantity }}</small></p>

                {% if item.product.discount %}
                <p class="my-0 text-decoration-line-through">
                    €{{ item.product.price }}
                </p>
                <p class="my-0 discount-price">
                    €{{ item.product.calculate_discount_price }}
                </p>
                {% else %}
                <p class="my-0">€{{ item.product.price }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>