body {
  background: url('/media/homepage_image.webp') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
}

.header-container {
  padding-top: 164px;
}

/* search bar margin */
@media (max-width: 992px) {
  .searchbar {
    margin-top: 5px;
  }
}

/*  borders to separate elements in navbar */
@media (min-width: 992px) {
  .border-ls {
    border-left: 1px solid #6c757d; 
  }
}

@media (min-width: 992px) {
  .border-rs {
    border-right: 1px solid #6c757d; 
  }
}

/* logo */
.logo-font {
  font-family: 'orbitron', sans-serif;
}

/* products overlay */
.overlay {
  position: fixed;
  z-index: -1;
}
