<div class="col-sm-4">
    <div class="card">
        <div class="card-body d-flex flex-column align-self-end">
            <h5 class="card-title flex-fill">Your Ratings <i class="fa-solid fa-star"></i></h5>
            <p class="card-text flex-fill">View all the products you have previously rated.</p>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ratingsModal">
                View
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="ratingsModal" tabindex="-1" aria-labelledby="RatingsModalTable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingsModal">Your Ratings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="rating-history-table overflow-auto">
                                <table class="table table-bg-none border table-hover order-history-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Rating Description</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rating in user_ratings %}
                                        <tr>
                                            <th scope="row">{{ rating.product }}</th>
                                            <th scope="row">{{ rating.rating_description }}</th>
                                            <th scope="row" aria-label="Delete rating">
                                                <form method="POST" action="{% url 'delete_user_rating' rating.id %}"
                                                    class="delete-form" id="deleteForm">
                                                    {% csrf_token %}
                                                    <button class="border-0 bg-none ratings-delete-button" type="submit" disabled>
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </form>
                                            </th>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="enable-deletion">
                    <label class="form-check-label" for="enable-deletion">Enable deletion</label>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#enable-deletion').change(function() {
    let isChecked = $(this).prop('checked');
    $('.ratings-delete-button').prop('disabled', !isChecked);
    if (isChecked) {
        $('.ratings-delete-button').addClass('text-danger'); 
    } else {
        $('.ratings-delete-button').removeClass('text-danger'); 
    }
     
})

</script>