{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay h-100 w-100 bg-light"></div>
<div class="product-container header-container">
  <div class="row me-0">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      <div class="image-container my-4">
        {% if product.image %}
        <a href="{{ product.image.url }}" target="blank">
          <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
        </a>
        {% else %}
        <a href="">
          <img src="{{ media_url }}noimage.png" class="card-img-top img-fluid" alt="{{ product.name }}">
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="product-details-container mb-5 mt-md-3 ms-1">
        <h4 class="display-4">{{ product.name }}</h4>
        {% if product.discount %}
        <p class="lead mb-0 text-left font-weight-bold text-decoration-line-through">€{{ product.price }}</p>
        <p class="lead mb-0 text-left font-weight-bold discount-price">€{{ product.calculate_discount_price }}</p>
        {% else %}
        <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
        {% endif %}
        <div>
          {% if product.category %}
          <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
            <i class="fa-solid fa-road"></i>
            {{product.category.display_name}}
          </a>
          {% endif %}
          {% if product.subcategory %}
          <a class="text-muted ms-1" href="{% url 'products' %}?subcategory={{product.subcategory.name}}">
            <i class="fa-solid fa-wrench"></i>
            {{product.subcategory.display_name}}
          </a>
          {% endif %}
          {% if product.technology %}
          <a class="text-muted ms-1" href="{% url 'products' %}?technology={{product.technology.name}}">
            <i class="fa-solid fa-bars"></i>
            {{product.technology.display_name}}
          </a>
          {% endif %}
        </div>
        {% if product.rating %}
        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
        {% else %}
        <small class="text-muted"></i>No Rating</small>
        {% endif %}

        <div class="col">
          {% include './includes/product_ratings.html' %}
        </div>

        <div class="col-12">
          {% include 'ratings/ratings_and_description.html' %}
        </div>
        
        <p class="mt-2">{{ product.description }}</p>
        <form action="{% url 'add_to_cart' product.id %}" method="POST">
          {% csrf_token %}
          <div class="form-row">
            {% if product.size %}
            <div class="col-12 w-50 mt-1">
              <select class="form-select" name="product_size" id="product_size">
                <option value="{{ product.size }}">{{ product.size }}</option>
              </select>
            </div>
            {% endif %}
            <div class="col-12">
              <p class="mt-4">Quantity:</p>
            </div>
            <div class="form-group">
              <div class="input-group mb-3 w-50">
                <div class="input-group-prepend">
                  <button class="decrement-qty btn btn-outline-secondary" type="button" data-item_id="{{ product.id }}"
                    id="decrement-qty_{{ product.id }}">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                </div>

                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                  data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" class="form-control text-center"
                  placeholder="1" aria-label="quantity-field">

                <div class="input-group-append">
                  <button class="increment-qty btn btn-secondary btn-outline-dark" type="button"
                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="submit" id="buy" class="btn btn-lg btn-dark rounded-1 mt- text-uppercase" value="Buy">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include './includes/quantity_input_script.html' %}
{% endblock %}