{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay h-100 w-100 bg-light"></div>
<div class="container header-container">
  <div class="row">
    <div class="col text-center mt-3">
      <h3 class="logo-font">Products</h3>
      <hr class="mb-0 align-items-center">
    </div>
  </div>
</div>
<div class="row me-auto">
  <div class="col">
    <div class="product-container col-10 offset-2">
      <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-contend-md-end">
          <div class="sort-select-wrapper w-50">
            <select  id="sort-selection" class="custom-select custom-select-sm rounded-0 border">
              <option value="reset" {% if current_sorting == 'None_None'%}selected{% endif %}>Sort By..</option>
              <option value="price_asc" {% if current_sorting == 'price_asc'%}selected{% endif %}>Price (low to high)</option>
              <option value="price_desc" {% if current_sorting == 'price_desc'%}selected{% endif %}>Price (high to low)</option>
              <option value="rating_asc" {% if current_sorting == 'rating_asc'%}selected{% endif %}>Rating (low to high)</option>
              <option value="rating_desc" {% if current_sorting == 'rating_desc'%}selected{% endif %}>Rating (high to low)</option>
              <option value="name_asc" {% if current_sorting == 'name_asc'%}selected{% endif %}>Name (A-Z)</option>
              <option value="name_desc" {% if current_sorting == 'name_desc'%}selected{% endif %}>Name (Z-A)</option>
              <option value="category_asc" {% if current_sorting == 'category_asc'%}selected{% endif %}>Category (A-Z)</option>
              <option value="category_desc" {% if current_sorting == 'category_desc'%}selected{% endif %}>Category (Z-A)</option>
              <option value="subcategory_asc" {% if current_sorting == 'subcategory_asc'%}selected{% endif %}>Subcategory (A-Z)</option>
              <option value="subcategory_desc" {% if current_sorting == 'subcategory_desc'%}selected{% endif %}>Subcategory (Z-A)</option>
              <option value="technology_asc" {% if current_sorting == 'technology_asc'%}selected{% endif %}>Technology (A-Z)</option>
              <option value="technology_desc" {% if current_sorting == 'technology_desc'%}selected{% endif %}>Technology (Z-A)</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
          <p class="text-muted mt-3 text center text-md-left">
            {% if search_term or current_categories or current_sorting != 'None_None' %}
            <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
            {% endif %}
            {{products|length}} Products {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card h-100 border-0 ">
            {% if product.image %}
            <a href="{% url 'product_details' product.id %}">
              <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_details' product.id %}">
              <img src="{{ media_url }}noimage.png" class="card-img-top img-fluid" alt="{{ product.name }}">
            </a>
            {% endif %}
            <div class="card-body pb-0">
              <h5 class="card-title">{{ product.name }}</p>
            </div>
            <div class="card-footer text-left">
              <div class="row">
                <div class="col">
                  <p class="lead font-weight-bold">€{{ product.price }}</p>
                  <div>
                    {% if product.category %}
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                      <i class="fa-solid fa-road"></i>
                      {{product.category.display_name}}
                    </a>
                    {% endif %}
                    {% if product.subcategory %}
                    <a class="text-muted ms-1" href="{% url 'products' %}?subcategory={{product.subcategory.name}}">
                      <i class="fa-solid fa-wrench"></i>
                      {{product.subcategory.display_name}}
                    </a>
                    {% endif %}
                    {% if product.technology %}
                    <a class="text-muted ms-1" href="{% url 'products' %}?technology={{product.technology.name}}">
                      <i class="fa-solid fa-bars"></i>
                      {{product.technology.display_name}}
                    </a>
                    {% endif %}
                  </div>
                  {% if product.rating  %}
                  <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                  {% else %}
                  <small class="text-muted"></i>No Rating</small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-sm-none">
          <hr>
        </div>
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-4">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-4">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-xl-block mb-4">
          <hr>
        </div>
        {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block postloadjs %}
 {{ block.super }}

</script>
<script type="text/javascript">
  $('#sort-selection').change(function() {
      let selector = $(this);
      let currentUrl = new URL(window.location);

      let selectedVal = selector.val();
      if(selectedVal != "reset"){
          var sort = selectedVal.split("_")[0];
          var direction = selectedVal.split("_")[1];

          currentUrl.searchParams.set("sort", sort);
          currentUrl.searchParams.set("direction", direction);

          window.location.replace(currentUrl);
      } else {
          currentUrl.searchParams.delete("sort");
          currentUrl.searchParams.delete("direction");

          window.location.replace(currentUrl);
      }
  })
</script>
{% endblock %}
